<ion-grid>
  <ion-row>
    <ion-col col-lg-8 offset-lg-2>
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-12 col-md-6>
                <img class="avatar" src="https://pbs.twimg.com/profile_images/968479346351656960/SLNP0djX_400x400.jpg" alt="">
              </ion-col>
              <ion-col align-self-center>
                <h1>Mike Hartington</h1>
                <h3>@mhartington</h3>
                <h3>Developer at Ionic</h3>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>
